.profile {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.img-profile{
    background-size: cover;
    background-position: center;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    height: 50%;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}
